<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.milka.m0802">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Camera.Activity.ImageMainActivity"></activity>

        <activity android:name=".ContentResolver.Contact.Activity.ContactMainActivity"></activity>
        <activity android:name=".SharedPreferences.Activity.SPMainActivity"></activity>
        <activity android:name=".ContentResolver.Contact.Activity.ContactAddActivity"></activity>
        <activity android:name=".ContentResolver.Contact.Activity.ContactOperationActivity"
            android:launchMode="singleInstance"></activity>
        <activity android:name=".SharedPreferences.Activity.SPAddActivity"></activity>
        <activity android:name=".SharedPreferences.Activity.SPOperationActivity"></activity>
        <activity android:name=".Camera.Activity.ImageOperationActivity"></activity>
        <activity android:name=".Camera.Activity.ImageResourceActivity"></activity>
        <activity android:name=".Camera.Activity.TakeCameraActivity"></activity>
        <activity android:name=".Device.Activity.DeviceInfoMainActivity"></activity>
        <activity android:name=".Html.Activity.HtmlMainActivity"></activity>
    </application>
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest>